#pageLayoutDiv {
	width: 500px;
	height: 500px;
	margin-left: 20px;
	padding: 10px;
	position: relative;
	float: left;
}

table {
	float: left;
	margin-left: 3rem;
	margin-top: 2rem;
	border-collapse: collapse;
	font-size: 0.75rem;
}

th,
td {
	padding: 0.5rem;
}

th {
	border: none;
	background-color: grey;
	color: white;
}

td {
	border-top: 1px solid black;
}